main {
  flex-direction: column;
  max-width: 70%;
}

main h1{
  font-weight: 900;
  line-height: 5rem;
  padding: 1rem 0;
}

main p {
  text-align: justify;
}

main img {
  width: 100%;
}

.practice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.practice a {
  background-color: rgb(46, 6, 73);
  color: rgb(190, 99, 231);
  text-decoration: none;
  margin: 2rem;
  padding: 2rem;
  font-weight: 700;
  border-radius: 3rem;
  width: 20%;
  text-align: center;
  font-size: 1.8rem;
}

.practice a:hover {
  scale: 1.05;
  transition: all .2s cubic-bezier(0.47, 0, 0.745, 0.715);
  background-color: rgb(116, 116, 116);
}