main {
  flex-direction: column;
  align-items: center;
}

main h1{
  font-weight: 900;
  line-height: 5rem;
  padding: 1rem 0;
}

main p {
  text-align: justify;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  border: .2rem solid #171c59;
  width: 70%;
  padding: 1rem;
  margin: 1rem;
}

.wrapper img {
  width: 5rem;
}

.wrapper a { 
  color: white;
}

.exercises {
  width: 70%;
  padding: 1rem;
}

.exercises ul {
  margin-left: 3rem;
  font-size: larger;
}

.exercises a {
  color: white;
}

.back {
  margin: 2rem;
}

